{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<!-- so that an inner div can be set to always full screen -->
<style type="text/css">
  html, body {
  height: 95%;
  margin: 0;
  }

  #venue_list {
      overflow-y: auto;
      height: 100%;
      position: absolute;
      width: 100%;
}
  .venue_item {
      display: block;
      position: relative;
      height: 105px;
  }
</style>
{% endblock stylesheets %}
{% block body %}
<div id="venue_list_container" class="container" data-bind="visible: !selectedVenue()">
  <div class="row">
    <ul id="venue_list" data-bind="foreach: venues.infinitescroll.displayItems">
      <li class="venue_item">
        {# magic to not draw the items which are not visible which makes this far more scalable #}
        <!-- ko if: $index() >= $root.venues.infinitescroll.firstHiddenIndex() -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" data-bind="click: $parent.setSelectedVenue" style="border: 2px solid black; height: 105px; min-height:105px;">
          <span data-bind="text: name"></span><br>
          <span data-bind="text: location().address"></span><br>
          <span data-bind="text: location().city"></span>, <span data-bind="text: location().state"></span><br>
          <span data-bind="text: location().postalCode"></span>
        </div>
        <!-- /ko -->
      </li>
    </ul>
  </div>
</div>
<div id="selected_venue" class="container" data-bind="visible: selectedVenue">
 <div class="row">
    <div class="col-xs-12" data-bind="if: selectedVenue">
      <span><b>Selected Location:</b></span><br>
      <span data-bind="text: selectedVenue().name"></span><br>
      <span data-bind="text: selectedVenue().location().address"></span><br>
      <span data-bind="text: selectedVenue().location().city"></span>, <span data-bind="text: selectedVenue().location().state"></span><br>
      <span data-bind="text: selectedVenue().location().postalCode"></span><br>
      <a href="#" data-bind="click: clearSelectedVenue"><small>Select a different location</small></a>
    </div>
  </div>
</div>
<div id="submit_sighting" class="container" data-bind="visible: selectedVenue">
  <div class="row">
    <div class="col-xs-12">
      <textarea data-bind="value: comment"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form>
      <label for="sighting_image">Attach an image:</label><br>
      <input id="sighting_image"  type="file" name="image" autocomplete="off" /><br>
      <button class="btn btn-primary" disabled data-bind="enable: sightingReady, click: submitSighting">Add Sighting</button>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>
{% endblock body %}
{% block javascript %}
<script src="{% static 'js/vendor/infinitescroll.js' %}"></script>
{# <script src="http://rawgithub.com/thinkloop/knockout-js-infinite-scroll/master/infinitescroll.js"></script> #}
<script src="{% static 'js/venue/models.js' %}"></script>
<script src="{% static 'js/sighting/add_sighting.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    vm = new ViewModel({beer: {{ beer|safe }}});
    ko.applyBindings(vm);
    vm.getLocation();
});
</script>
{% endblock javascript %}
