{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<!-- so that an inner div can be set to always full screen -->
<style type="text/css">
  html, body {
  height: 100%;
  margin: 0;
  }

  #venue_list, #search_list {
      overflow-y: auto;
      height: 100%;
      position: absolute;
      width: 100%;
  }
  .venue_item {
      display: block;
      position: relative;
      height: 125px;
      margin: 10px 0;
  }

  .venue_item .btn {
    position: absolute;
    bottom: 0px;
  }

  ul li.venue_item:first-child .venue_item_container {
    border-top: none;
    height: 125px;
    padding: 5px;
  }
  .venue_item .venue_item_container {
    border-top: 2px solid gray;
    height: 125px;
    padding: 5px;
  }

  .full-height {
      height: 100%;
  }

  #id_sighting_comment {
      width: 100%;
  }
</style>
{% endblock additional_css %}
{% block body %}
<div id="search_box_container" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <form data-bind="submit: submitSearchHandler">
        <input type="text" placeholder="Place to search for..." data-bind="value: searchTerm"><button type="submit" class="btn">Search</button>
      </form>
    </div>
  </div>
</div>
<div id="venue_list_container" class="container full-height" data-bind="visible: venueListVisible">
  <div class="row full-height">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 full-height" style="overflow: hidden">
      <ul id="venue_list" data-bind="foreach: venues.infinitescroll.displayItems" class="list-unstyled">
        <li class="venue_item">
          {# magic to not draw the items which are not visible which makes this far more scalable #}
          <!-- ko if: $index() >= $root.venues.infinitescroll.firstHiddenIndex() - 25 -->
          <div class="venue_item_container" style="display: none" data-bind="visible: true">
            <span data-bind="text: name"></span><br>
            <!-- ko if: location().address --><span data-bind="text: location().address"></span><br> <!-- /ko -->
            <span data-bind="text: location().city"></span>, <span data-bind="text: location().state"></span><br>
            <!-- ko if: location().postalCode --><span data-bind="text: location().postalCode"></span><br> <!-- /ko -->
            <button data-bind="click: $parent.setSelectedVenue" class="btn btn-primary">Select Location</button>
          </div>
          <!-- /ko -->
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="search_list_container" class="container full-height" data-bind="visible: searchListVisible" style="display: none">
  <div class="row full-height">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 full-height" style="overflow: hidden">
      <a href="#" data-bind="click: function () {discoverView(true);}">Return to list</a><br>
      <ul id="search_list" data-bind="foreach: searchVenues" class="list-unstyled">
        <li class="venue_item">
          <div class="venue_item_container">
            <span data-bind="text: name"></span><br>
            <!-- ko if: location().address --><span data-bind="text: location().address"></span><br> <!-- /ko -->
            <span data-bind="text: location().city"></span>, <span data-bind="text: location().state"></span><br>
            <!-- ko if: location().postalCode --><span data-bind="text: location().postalCode"></span><br> <!-- /ko -->
            <button data-bind="click: $parent.setSelectedVenue" class="btn btn-primary">Select Location</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="selected_venue" class="container" data-bind="visible: selectedVenue" style="display: none">
 <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" data-bind="if: selectedVenue">
      <span><b>Selected Location:</b></span><br>
      <span data-bind="text: selectedVenue().name"></span><br>
      <span data-bind="text: selectedVenue().location().address"></span><br>
      <span data-bind="text: selectedVenue().location().city"></span>, <span data-bind="text: selectedVenue().location().state"></span><br>
      <span data-bind="text: selectedVenue().location().postalCode"></span><br>
      <a href="#" data-bind="click: clearSelectedVenue"><small>Select a different location</small></a>
    </div>
  </div>
</div>
<div id="submit_sighting" class="container" data-bind="visible: selectedVenue" style="display: none">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="id_sighting_comment">Comment:</label>
        <textarea id="id_sighting_comment" data-bind="value: comment"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <form role="form">
        <div class="form-group">
          <label for="sighting_image">Attach an image:</label><br>

          <div>
            <img height="150" src="" data-bind="attr: {src: image}"></img>
          </div>
          <input id="sighting_image"  type="file" name="image" autocomplete="off" data-bind="event {change: showImageThumbnail}" />
        </div>
        <div class="form-group">
          How was the beer available?<br>
          <ul class="list-unstyled">
            <!-- ko foreach: servingTypes -->
            <li><label><input type="checkbox" name="serving_types" data-bind="value: id, checkedValue: id, checked: $parent.selectedServingTypes"> <span data-bind="text: name"></span></label></li>
            <!-- /ko -->
          </ul>
        </div>
        <button class="btn btn-primary" disabled data-bind="enable: sightingReady, click: submitSighting">Add Sighting</button>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>

<div data-bind="visible: showLoadingSpinner" class="loading-spinner">
  <i class="fa fa-spinner fa-spin" style="font-size: 8em;"></i>
</div>

{% endblock body %}
{% block javascript %}
<script type="text/javascript">
require(['knockout', 'sighting/viewmodels/AddSightingViewModel'], function (ko, AddSightingViewModel) {
    "use strict";
    var vm = new AddSightingViewModel({beer: {{ beer|safe }}});
    vm.getLocation();
    vm.getServingTypes();
    ko.applyBindings(vm);
});
</script>
{% endblock javascript %}
