{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container" id="sighting_container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <span data-bind="text: sighting().beer().name"></span><br>
      <small><span data-bind="text: sighting().beer().brewery.name"></span></small><br>
      <small><span data-bind="text: sighting().date_sighted()"></small></span><br>
      <small>Sighted by <span data-bind="text: sighting().sighted_by()"></small></span><br>
      <div data-bind="if: sighting().image()"> 
        <img data-bind="attr:{src: '{{ MEDIA_URL }}' + sighting().image() }" width="375"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      Location:<br>
      <span data-bind="text: sighting().venue().name"></span><br>
      <span data-bind="text: sighting().venue().street_address"></span><br>
      <span data-bind="text: sighting().venue().city"></span>, <span data-bind="text: sighting().venue().state"></span><br>
      <span data-bind="text: sighting().venue().postal_code"></span>
    </div>
  </div>
</div>
<div class="container" id="comments_container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <a href="#" data-bind="click: toggleShowComment, visible: showComment() == false">Add Comment</a>
      <form data-bind="submit: addComment, visible: showComment">
        <div class="form-group">
          <label for="comment_text" class="sr-only">Comment:</label>
          <textarea id="comment_text" name="text" autocomplete="off"></textarea>
        </div>
        <button type="button" class="btn" data-bind="click: toggleShowComment">Cancel</button>&nbsp;<button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <ul class="list-unstyled" data-bind="foreach: comments">
        <li>
          <p data-bind="text: text"></p>
          <small>From <span data-bind="text: comment_by"></span> on <span data-bind="text: date_created"></span></small>
        </li>
      </ul>
      <a href="#" data-bind="click: getComments, visible: nextCommentPage">Get more comments</a>
    </div>
  </div>
</div>
{% endblock body %}

{% block javascript %}
<script src="{% static 'js/venue/models/VenueModel.js' %}"></script>
<script src="{% static 'js/venue/models/FoursquareVenueModel.js' %}"></script>
<script src="{% static 'js/beer/models/BeerModel.js' %}"></script>
<script src="{% static 'js/beer/models/BreweryModel.js' %}"></script>
<script src="{% static 'js/sighting/models/SightingModel.js' %}"></script>
<script src="{% static 'js/sighting/models/SightingCommentModel.js' %}"></script>
<script src="{% static 'js/sighting/viewmodels/SightingDetailViewModel.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    vm = new SightingDetailViewModel({sighting: {{ sighting|safe }}});
    ko.applyBindings(vm);
    vm.getComments();
});
</script>
{% endblock javascript %}

