{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container" id="sighting_container" style="display: none" data-bind="visible: true">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <a href="#" data-bind="attr: {href: sighting().beer().viewUrl}"><h1 data-bind="text: sighting().beer().name"></h1></a>
      <h2><small data-bind="text: sighting().beer().brewery().name"></small></h2>
      <span data-bind="text: sighting().date_sighted()"></span><br>
      Sighted by <span data-bind="text: sighting().sighted_by()"></span><br>
      <div data-bind="if: sighting().primaryImage()">
        <img data-bind="attr:{src: sighting().primaryImage().mediumUrl() }" width="375"/>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      Location:<br>
      <span data-bind="text: sighting().venue().name"></span><br>
      <span data-bind="text: sighting().venue().street_address"></span><br>
      <span data-bind="text: sighting().venue().city"></span>, <span data-bind="text: sighting().venue().state"></span><br>
      <span data-bind="text: sighting().venue().postal_code"></span>
      <br><br>
      This beer is available as:<br>
      <!-- ko foreach: sighting().servingTypes -->
      <span class="label label-success" data-bind="text: $data.name"></span>
      <!-- /ko -->
    </div>
  </div>
</div><br>
<div class="container" id="comments_container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3>Comments <i class="fa fa-comment-o"></i></h3>
      <a href="#" data-bind="click: toggleShowComment, visible: showComment() == false" style="display: none"><i class="fa fa-plus fa-1x"></i>&nbsp;Add Comment</a>
      <hr>
      <form role="form" data-bind="submit: addComment, visible: showComment" style="display: none">
        <div class="form-group">
          <label for="comment_text" class="sr-only">Comment:</label>
          <textarea id="comment_text" name="text" autocomplete="off" style="width: 100%"></textarea>
        </div>
        <button type="button" class="btn" data-bind="click: toggleShowComment">Cancel</button>&nbsp;<button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
    </div>
  </div>
  <div class="row" style="display: none" data-bind="visible: true" id="comments_list">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="list-unstyled" data-bind="foreach: comments">
        <li>
          <p data-bind="text: text"></p>
          <small>From <span data-bind="text: comment_by"></span> on <span data-bind="text: date_created"></span></small>
          <hr>
        </li>
      </ul>
      <a href="#" data-bind="click: getComments, visible: nextCommentPage">Get more comments</a>
    </div>
  </div>
</div>
<div data-bind="visible: showLoadingSpinner" class="loading-spinner">
  <i class="fa fa-spinner fa-spin" style="font-size: 8em;"></i>
</div>

{% endblock body %}

{% block javascript %}
<script type="text/javascript">
require(['knockout', 'sighting/viewmodels/SightingDetailViewModel'], function (ko, SightingDetailViewModel) {
    vm = new SightingDetailViewModel({sighting: {{ sighting|safe }}});
    ko.applyBindings(vm);
    vm.getComments();
});
</script>
{% endblock javascript %}

