*.pyc
*~
*.sqlite
\#*#
beerfinder/beerfinder/static/compass/vendor
beerfinder/beerfinder/static/compass/.bundle/
beerfinder/beerfinder/static/compass/.sass-cache/
beerfinder/beerfinder/settings/git_head.*
beerfinder/media
