Django==1.6.2
Pillow==2.3.0
distribute==0.6.24
dj-database-url==0.2.2
django-allauth==0.15.0
djangorestframework==2.3.12
factory-boy==2.3.1
foursquare==20130707
httplib2==0.8
oauthlib==0.6.1
poster==0.8.1
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
simplejson==3.3.3
