Django==1.6.2
Pillow==2.3.0
amqp==1.4.3
anyjson==0.3.3
billiard==3.3.0.16
celery==3.1.9
distribute==0.6.24
dj-database-url==0.2.2
django-allauth==0.15.0
django-celery==3.1.9
djangorestframework==2.3.12
factory-boy==2.3.1
foursquare==20130707
httplib2==0.8
kombu==3.0.12
oauthlib==0.6.1
poster==0.8.1
python-openid==2.2.5
pytz==2013.9
redis==2.9.1
requests==2.2.1
requests-oauthlib==0.4.0
simplejson==3.3.3
