{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row" id="main_content">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <span data-bind="text: beer().name()"></span><br>
      <span data-bind="text: beer().brewery().name"></span>
    </div>
  </div>
</div>
{% endblock body %}
{% block javascript %}
<script src="{% static 'js/beer/models.js' %}"></script>
<script src="{% static 'js/venue/models.js' %}"></script>
<script src="{% static 'js/beer/add_beer.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    vm = new ViewModel();
    ko.applyBindings(vm);
});
</script>
{% endblock javascript %}
