{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row" id="main_content" style="display: none" data-bind="visible: true">
    <div data-bind="visible: showLoadingSpinner" class="loading-spinner">
      <i class="fa fa-spinner fa-spin" style="font-size: 8em;"></i>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 data-bind="text: beer().name"></h1>
      <h2><small data-bind="text: beer().brewery().name"></small></h2>
      <!-- ko if: beer().style -->
      <span data-bind="text: beer().style().name"></span>
      <!-- /ko -->
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="beer-detail-buttons">
      <div class="btn-group btn-group btn-group-justified">
        <a data-bind="attr: {href: beer().addSightingUrl }" class="btn btn-default"><i class="fa fa-camera"></i><br><small>Add Sighting</small></a>
        <a href="#" data-bind="click: addToWatchlist" class="btn btn-default" title="Add To Watchlist"><i class="fa fa-eye"></i><br><small>Add To Watchlist</small></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="nav nav-pills nav-justified" id="tab_container">
        <li data-bind="css: {active: activeSightingTab() == SightingTabs.RECENT}"><a href="#" data-bind="click: changeTab.bind($data, SightingTabs.RECENT)">Recent Sightings</a></li>
        <li data-bind="css:{active: activeSightingTab() == SightingTabs.NEARBY}"><a href="#" data-bind="click: changeTab.bind($data, SightingTabs.NEARBY)">Nearby Sightings</a></li>
      </ul>
      <div id="recent_sighting_list" data-bind="visible: tabManager.activeSightingTab() == SightingTabs.RECENT" style="display: none">
        <ul data-bind="foreach: sightings" class="media-list">
          <li class="media">
            <a style="display: block" data-bind="attr: {href: webUrl }">
              <div class="pull-right" data-bind="if: images()[0]">
                <img data-bind="attr: {src: images()[0].thumbnailUrl}" height="75" class="media-object" ></img>
              </div>
              
              <div class="media-body">
                <h4 class="media-heading" data-bind="text: venue().name"></h4>
                <span data-bind="text: sighted_by"></span> on <span data-bind="text: date_sighted().format('MMM D, YYYY [at] h:mma')"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div id="nearby_sighting_list" data-bind="visible: tabManager.activeSightingTab() == SightingTabs.NEARBY" style="display: none">
        <div data-bind="visible: showLoadingSpinner" class="loading-spinner">
          <i class="fa fa-spinner fa-spin" style="font-size: 8em;"></i>
        </div>
        
        <ul class="media-list" data-bind="foreach: sightings">
          <li class="media">
            <a style="display: block" data-bind="attr: {href: webUrl }">
              <div class="pull-right" data-bind="if: images()[0]">
                <img data-bind="attr: {src: images()[0].thumbnailUrl}" height="75"></img>
              </div>

              <div class="media-body">
                <h4 class="media-heading" data-bind="text: venue().name"></h4>
                <span data-bind="text: distance().toFixed(2)"></span> miles away<br>
                <span data-bind="text: sighted_by"></span> on <span data-bind="text: date_sighted().format('MMM D, YYYY [at] h:mma')"></span>
              </div>
            </a>
          </li>
        </ul>
    </div>
  </div>
</div>
{% endblock body %}
{% block javascript %}

<script type="text/javascript">
require(['knockout', 'beer/viewmodels/BeerDetailViewModel', 'beer/viewmodels/BeerDetailTabContainerViewModel',
         'beer/viewmodels/RecentSightingListViewModel', 'beer/viewmodels/NearbySightingListViewModel', 'csrf'],
        function(ko, BeerDetailViewModel, BeerDetailTabContainerViewModel, RecentSightingListViewModel, NearbySightingListViewModel) {
    "use strict";

    var vm = new BeerDetailViewModel({beer: {{ beer|safe }}});
    ko.applyBindings(vm, document.getElementById('main_content'));

    var tabManager = new BeerDetailTabContainerViewModel();
    ko.applyBindings(tabManager, document.getElementById('tab_container'));

    var recentVm = new RecentSightingListViewModel({parentView: vm, tabManager: tabManager});
    ko.applyBindings(recentVm, document.getElementById('recent_sighting_list'));
    recentVm.getSightings();

    var nearbyVm = new NearbySightingListViewModel({parentView: vm, tabManager: tabManager});
    ko.applyBindings(nearbyVm, document.getElementById('nearby_sighting_list'));
    nearbyVm.getSightings();

});
</script>
{% endblock javascript %}
