{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row" id="main_content">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <span data-bind="text: beer().name()"></span><br>
      <span data-bind="text: beer().brewery().name"></span>
    </div>
  <!--</div>
  <div class="row"> -->
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="list-inline btn-group">
        <li>
          <a data-bind="attr: {href: beer().addSightingUrl }" class="icon"><i class="fa fa-camera"></i></a>
        </li>
        <li>
          <a href="#" data-bind="click: addToWatchlist" class="icon" title="Add To Watchlist"><i class="fa fa-eye"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-3">
      <ul class="nav nav-pills" id="tab_container">
        <li data-bind="css: {active: activeSightingTab() == SightingTabs.RECENT}"><a href="#" data-bind="click: changeTab.bind($data, SightingTabs.RECENT)">Recent Sightings</a></li>
        <li data-bind="css:{active: activeSightingTab() == SightingTabs.NEARBY}"><a href="#" data-bind="click: changeTab.bind($data, SightingTabs.NEARBY)">Nearby Sightings</a></li>
      </ul>
    </div>
    <div id="recent_sighting_list" data-bind="visible: tabManager.activeSightingTab() == SightingTabs.RECENT" class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div data-bind="foreach: sightings">
        <a style="display: block" data-bind="attr: {href: webUrl }">
          <div>
            <span data-bind="text: venue().name"></span><br>
            <span data-bind="text: sighted_by"></span> on <span data-bind="text: date_sighted"></span>
          </div>
        </a>
      </div>
    </div>
    <div id="nearby_sighting_list" data-bind="visible: tabManager.activeSightingTab() == SightingTabs.NEARBY" class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div data-bind="foreach: sightings">
        <a style="display: block" data-bind="attr: {href: webUrl }">
          <div>
            <span data-bind="text: venue().name"></span><br>
            <span data-bind="text: distance"></span> miles away<br>
            <span data-bind="text: sighted_by"></span> on <span data-bind="text: date_sighted"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block javascript %}
<script src="{% static 'js/beer/models.js' %}"></script>
<script src="{% static 'js/venue/models.js' %}"></script>
<script src="{% static 'js/sighting/models.js' %}"></script>
<script src="{% static 'js/beer/beer_detail.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    vm = new ViewModel({beer: {{ beer|safe }}});
    ko.applyBindings(vm, document.getElementById('main_content'));

    var tabManager = new TabContainerViewModel();
    ko.applyBindings(tabManager, document.getElementById('tab_container'));

    recentVm = new RecentSightingListViewModel({parentView: vm, tabManager: tabManager});
    ko.applyBindings(recentVm, document.getElementById('recent_sighting_list'));
    recentVm.getSightings();

    nearbyVm = new NearbySightingListViewModel({parentView: vm, tabManager: tabManager});
    ko.applyBindings(nearbyVm, document.getElementById('nearby_sighting_list'));
    nearbyVm.getSightings();
});
</script>
{% endblock javascript %}
