{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<!-- so that an inner div can be set to always full screen -->
<style type="text/css">
  html, body {
  height: 95%;
  margin: 0;
  }

  #beer_list {
      overflow-y: auto;
      height: 100%;
      position: absolute;
      width: 100%;
}
  .beer_item {
      display: block;
      position: relative;
      height: 125px;
  }

  .full-height {
      height: 100%;
  }
</style>
{% endblock additional_css %}

{% block body %}
<div id="search_box_container" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <form data-bind="submit: submitSearchHandler">
        <input type="text" placeholder="Find a beer..." data-bind="value: searchTerm"><button type="submit" class="btn">Search</button>
      </form>
    </div>
  </div>
</div>
<div class="container full-height" id="beer_list_container">
  <div class="row full-height">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 full-height" style="overflow: hidden;">
      <!-- ko if: mode() == Modes.SEARCH && beers.infinitescroll.displayItems().length == 0 -->
      <span style="display: none" data-bind="visible: true">No matching beer found.  <a href="{% url 'add_beer' %}">Add it?</a></span>
      <!-- /ko -->
      <ul id="beer_list" data-bind="foreach: beers.infinitescroll.displayItems" class="list-unstyled">
        <li class="beer_item">
          <!-- ko if: $index() >= $root.beers.infinitescroll.firstHiddenIndex() -->
          <div style="display: none" data-bind="visible: true">
            <div>
              <span data-bind="text: name"></span><br>
              <span data-bind="text: brewery().name"></span>
            </div>
            <div>
              <a data-bind="attr: { href: viewUrl }" class="btn btn-primary">View</a> <a data-bind="attr: {href: addSightingUrl }" class="btn btn-primary">Add Sighting</a>
            </div>
          </div>
          <!-- /ko -->
        </li>
      </ul>      
    </div>
    {# find way to make this only show if last item in li is showing #}
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin-top: -1px">
      <span data-bind="visible: !morePages()">Didn't see the beer you're looking for?  <a href="{% url 'add_beer' %}">Add it!</a></span>
    </div>
  </div>
</div>
<div data-bind="visible: showLoadingSpinner" class="loading-spinner">
  <i class="fa fa-spinner fa-spin" style="font-size: 8em;"></i>
</div>

{% endblock body %}
{% block javascript %}
<script type="text/javascript">
require(['knockout', 'beer/viewmodels/BeerListViewModel'], function(ko, BeerListViewModel) {
    vm = new BeerListViewModel();
    ko.applyBindings(vm);
    vm.initialize();
});
</script>
{% endblock javascript %}
