
a, a:not(.btn):visited, a:not(.btn):hover {
    text-decoration: none;
    color: inherit;
}

/* fight with bootstrap to make my a stylings not break navbar */
#top_navbar.navbar-inverse .navbar-header .navbar-brand,
#top_navbar.navbar-inverse .navbar-header .navbar-brand a
{
    color: #999999;
}

#top_navbar.navbar-inverse .navbar-header .navbar-brand:hover,
#top_navbar.navbar-inverse .navbar-header .navbar-brand:focus
{
    color: #FFFFFF;
}

#top_navbar a:hover {
    opacity: 1;
}
/* end bootstrap fighting */

a:not(.btn):hover {
    opacity: .7;
}

body {
      padding-top: 60px;
      position: relative;
      }

html, body {
    height: 100%;
    margin: 0;
}


#page_body {
    height: 100%;
}
a.icon {
   color: inherit;
}

.loading-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
}

.full-height {
    height: 100%;
}

.list-search {
    margin-bottom: 15px;
}

/* sighting detail */
#comments_list li {
    margin-top: 10px;
}
/* end sighting detail */

/* add sighting */
#sighting_serving_type_selection input[type="checkbox"] {
    display: none;
}

#sighting_serving_type_selection input[type="checkbox"] + label > span {
    position: relative;
}

#sighting_serving_type_selection input[type="checkbox"]:checked + label > span {
    top: -7px;
    left: -14px;
}
#sighting_serving_type_selection input[type="checkbox"] + label {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    -webkit-transition: color .5s ease-in-out, background .5s ease-in-out;
    -moz-transition: color .5s ease-in-out, background .5s ease-in-out;
    -ms-transition: color .5s ease-in-out, background .5s ease-in-out;
    -o-transition: color .5s ease-in-out, background .5s ease-in-out;
    transition: color .5s ease-in-out, background .5s ease-in-out;
    cursor: pointer;
}

#sighting_serving_type_selection input[type="checkbox"]:checked + label {
    background-color: grey;
    opacity: .25;
    color: white;
}

input[type="checkbox"] + label:before {
    content: "";
    opacity: 0;
    -webkit-transition: content .5s ease-in-out, opacity .5s ease-in-out;
    -moz-transition: content .5s ease-in-out, opacity .5s ease-in-out;
    -ms-transition: content .5s ease-in-out, opacity .5s ease-in-out;
    -o-transition: content .5s ease-in-out, opacity .5s ease-in-out;
    transition: content .5s ease-in-out, opacity .5s ease-in-out;

}
#sighting_serving_type_selection input[type="checkbox"]:checked + label:before {
    content: "\2714";
    font-size: 36px;
    padding: 0;
    margin: 0;
    position: relative;
    left: -5px;
    opacity: 1;
    color: white;
}
/* end add sighting */

/*
  sighting list */
#sighting_list {
    overflow-y: auto;
    height: 100%;
    position: absolute;
    width: 100%;
}
#sighting_list .sighting_item {
    display: block;
    height: 100px;
    border-bottom: 1px solid #C0C0C0;
}

#sighting_list .sighting-list-image {
    width: 85px;
    height: 85px;
    margin-right: 5px;
}

/* end sighting list */

/* beer list */
#beer_list {
    min-height: 500px;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    width: 100%;
}
#beer_list .beer-item {
    padding-top: 15px;
    display: block;
    position: relative;
    height: 125px;
    border-bottom: 1px solid #C0C0C0;
}

/* end beer list */