{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/> {# includes bootstrap and bootstrap-theme #}
    {% endblock stylesheets %}
    {% block additional_css %}{% endblock additional_css %}
    {% block head_js %}{% endblock head_js %}
  </head>
  <body>
    <div id="top_navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="pull-right">
          <div class="navbar-text">
            <a class="navbar-link nav-update-location pull-right" href="#" data-bind="click: updateLocation, css: {rotating: locationUpdating}">
              <span class="glyphicon glyphicon-screenshot"></span>
            </a>
          </div>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#">{{ site.name }}</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'sightings_list' %}">All Sightings</a></li>
            <li><a href="{% url 'show_beer_list' %}">Beer List</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts_edit_profile' %}">My Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container" id="page_body">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <!-- this alert-messages gets its own knockout viewmodel -->
          <div id="alert-messages">
            <div class="alert error" style="display: none" data-bind="visible: errorMessages">
              <ul class="" data-bind="foreach: errorMessages">
                <li data-bind="text: $data"></li>
              </ul>
            </div>
          </div>

          {% block body %}{% endblock body %}
        </div>
      </div>
    </div>
    <div id="footer-container" class="container">
      <div class="row">
        <footer>
          <div id="copyright" class="text-right">Copyright 2014 - {% now "Y" %} Justin Michalicek</div>
        </footer>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
    {# require config here allows for cache-busting via changing static root #}
    <script type="text/javascript">
        require.config({
            baseUrl: "{% static 'js' %}",
            paths: {
                core: 'core',
                beer: 'beer',
                accounts: 'accounts',
                sighting: 'sighting',
                watchlist: 'watchlist',
                venue: 'venue',
                vendor: 'vendor',
                moment: 'vendor/moment-with-langs',
                knockout: '//ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0',
                jquery: '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min',
                jqueryui: '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min',
                bootstrap: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min',
                //underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min',
                underscore: '//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min',
                lodash: '//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min',
                pubsub: 'vendor/pubsub',
            },
            
            shim: {
                infinitescroll: ['knockout'],
                bootstrap: ['jquery'],
                jqueryui: ['jquery'],
                csrf:  ['jquery'],
                //'underscore' : {
               //    exports : '_'
                //},
            },
            deps: ['jquery', 'bootstrap', 'knockout', 'csrf'],
            callback: function () {
                jQuery.ajaxSettings.traditional = true;
                $.ajaxSetup({
                    crossDomain: false, // obviates need for sameOrigin test
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                });
            }
        });

        require(["{% static 'js/common.js' %}"], function() {
        require(['knockout', 'core/viewmodels/NavBarViewModel', 'core/viewmodels/ErrorMessagesViewModel'],
                function(ko, NavBarViewModel, ErrorMessagesViewModel) {
            "use strict";
            var navBarViewModel = new NavBarViewModel();
            ko.applyBindings(navBarViewModel, document.getElementById('top_navbar'));

            var errorMessagesViewModel = new ErrorMessageViewModel();
            ko.applyBindings(errorMessagesViewModel, document.getElementById('alert-messages'));
        });

        {% block requirejs_scripts %}{% endblock requirejs_scripts %}
    });
    </script>

    {% block javascript %}{% endblock javascript %}
  </body>
</html>
