{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row">
    <div id="nav_container">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active" id="profile_nav"><a href="#" data-toggle="pill" data-bind="click: showProfile">Profile</a></li>
          <li id="watchlist_nav"><a href="#" data-toggle="pill" data-bind="click: showWatchList">Watchlist</a></li>
        </ul>
      </div>
    </div>
    <div class="container" id="user_info_container" data-bind="visible: isActive">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
          </div>
          <div class="panel-body">
            <div class="alert alert-success" data-bind="visible: showSaveProfileSuccess">
              <button aria-hidden="true" data-bind="click: function() {showSaveProfileSuccess(false);}" class="close" type="button">&times;</button>
              Profile successfully saved!
            </div>
            <div class="alert alert-danger" data-bind="visible: showSaveProfileError">
              <button aria-hidden="true" data-bind="click: function() {showSaveProfileError(false);}" class="close" type="button">&times;</button>
              <span data-bind="text: saveProfileErrorText"></span>
            </div>
            <form data-bind="submit: saveProfile">
              <div class="form-group">
                <label for="id_first_name">First name:</label>
                <input type="text" id="id_first_name" name="first_name" autocomplete="off" data-bind="value: profile().firstName"></input>
              </div>
              <div class="form-group">
                <label for="id_last_name">Last name:</label>
                <input type="text" id="id_last_name" name="last_name" autocomplete="off" data-bind="value: profile().lastName"></input>
              </div>
              <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="text" id="id_email" name="email" autocomplete="off" data-bind="value: profile().email"></input>
              </div>
              <div class="form-group">
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" autocomplete="off" data-bind="value: profile().username"></input>
              </div>
              <div class="form-group">
                <label for="id_send_watchlist_email">Receive email notification about watched beer sightings?</label>
                <input type="checkbox" id="id_send_watchlist_email" name="send_watchlist_email" autocomplete="off" data-bind="checked: profile().sendWatchlistEmail"></input>
              </div>
              <div class="form-group">
                <label for="id_show_name_on_sightings">Show name on sightings?</label>
                <input type="checkbox" id="id_show_name_on_sightings" name="show_name_on_sightings" autocomplete="off" data-bind="checked: profile().showNameOnSightings"></input>
              </div>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
          </div>
        </div><!-- end profile panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
          <div class="panel-body">
            <div class="alert alert-success" data-bind="visible: showChangePasswordSuccess">
              <button aria-hidden="true" data-bind="click: function() {showChangePasswordSuccess(false);}" class="close" type="button">&times;</button>
              Password successfully changed!
            </div>
              <div class="alert alert-danger" data-bind="visible: showChangePasswordError">
                <button aria-hidden="true" data-bind="click: function() {showChangePasswordError(false);}" class="close" type="button">&times;</button>
                <span data-bind="text: changePasswordErrorText"></span>
              </div>
              <form data-bind="submit: changePassword">
                <div class="form-group">
                  <label for="id_password">Current Password:</label>
                  <input type="password" id="id_oldpassword" name="oldpassword" autocomplete="off"></input>
                </div>
                <div class="form-group">
                  <label for="id_password1">New Password:</label>
                  <input type="password" id="id_password1" name="password1" autocomplete="off"></input><br>
                  <label for="id_password2">Confirm Password:</label>
                  <input type="password" id="id_password2" name="password2" autocomplete="off"></input>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
              </form>
          </div>
        </div><!-- end change password panel -->
      </div>
    </div><!-- end user_info_container -->
    <div class="container" id="watchlist_container" data-bind="visible: isActive">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Watched Beers</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled list-group"  data-bind="foreach: watchlist">
              <li class="list-group-item" style="margin-top: 0px;">
                <span data-bind="text: beer().name"></span>
                <a href="#" class="pull-right icon" title="Unwatch" data-bind="click: $parent.removeFromWatchlist"><i class="fa fa-eye-slash"></i></a><br>
                <small><span data-bind="text: beer().brewery().name"></span></small>
              </li>
            </ul>
          </div><!-- end watchlist panel -->
      </div>
    </div><!-- end watchlist container -->
  </div><!-- end of row -->
</div>
{% endblock body %}
{% block javascript %}
<script type="text/javascript">
require(['knockout', 'accounts/viewmodels/EditProfileViewModel', 'accounts/viewmodels/AccountProfileWatchlistViewModel', 'accounts/viewmodels/AccountProfileNavViewModel', 'accounts/models/ProfileNavController'], function (ko, EditProfileViewModel, AccountProfileWatchlistViewModel, AccountProfileNavViewModel, ProfileNavController ) {
    "use strict";
    var profileNavController = new ProfileNavController();
    var vm = new EditProfileViewModel({profileNavController: profileNavController});
    ko.applyBindings(vm, document.getElementById('user_info_container'));

    var watchListVM = new AccountProfileWatchlistViewModel({profileNavController: profileNavController});
    ko.applyBindings(watchListVM, document.getElementById('watchlist_container'));
    watchListVM.getWatchlist();

    var navVm = new AccountProfileNavViewModel({profileNavController: profileNavController});
    ko.applyBindings(navVm, document.getElementById('nav_container'));

});
</script>

{% endblock javascript %}
