{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} - {% trans "Password Reset" %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h1>{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
    
      <p>{% trans "Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form">
        {% csrf_token %}
        <div class="form-group{% if form.email.errors.0 %} has-error{% endif %}">
          <label class="control-label">Email:
            {% render_field form.email class+="form-control input-lg" %}
            {{ form.email.errors.0 }}
          </label>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="{% trans "Reset My Password" %}" />
      </form>
    </div>
  </div>
</div>
{% endblock body %}

{% block css %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
